<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TouchLock.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>07EB9EDF1C6671450052AFF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07EB9EF31C6671450052AFF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07EB9EFE1C6671450052AFF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
